body {
    font-family: 'Montserrat', sans-serif;
}
.header {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #FF0000;
    margin: 0 330px ;

}
.header_list {
    display: inline-block;
    margin: 25px auto;
    padding: 0 50px;
    text-decoration: none;
    list-style: none;

}
.header_list_link {
    color: #FF0000;

}
.image {
    width: 100%;

}
.main_heading {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding: 25px 0 20px 0;

}
.main_content {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding: 14px 67px;

}
.button {
    display: block;
    color: white ;
    background-color: #FF0000;
    border: none;
    border-radius: 5px;
    cursor: grab;
    width: 191px;
    height: 51px;
    font-size: 12px;
    font-weight: 700;
    margin: 40px auto 80px ;

}
.footer{
    text-align: right;
    margin: 0 95px 29px 0;
    font-size: 16px;
    font-weight: 700;

}
